*
!index.html
!README.md
!LICENSE
!.gitignore
!guide/
guide/*
!guide/index.html
!guide/guide.md
!guide/screenshots/
guide/screenshots/*
!guide/screenshots/*.png

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
